<context-param>
	<param-name>INIT_PARAM</param-name>
	<parm-value>web.xml에 저장한 초기화 매개변수</parm-value>
</context-param>

<!-- 웹애플리케이션에서 예외(에러) 발생 시 처리할 페이지를 지정한다. 




     ※에러페이지 처리는 실 서비스에서는 반드시 필요한 부분이지만 
     개발시에는 에러를 확인한 후 디버깅하면서 진행해야 하므로 
     개발이 완료될 때까지는 주석으로 처리해 두는것이 좋다. -->
     
<!-- <error-page>
	<error-code>404</error-code>
	<location>/02ImplicitObject/Exception.jsp</location>
</error-page>
<error-page>
	<error-code>405</error-code>
	<location>/02ImplicitObject/Exception.jsp</location>
</error-page>
<error-page>
	<error-code>500</error-code>
	<location>/02ImplicitObject/Exception.jsp</location>
</error-page>-->



<context-param>
	<param-name>OracleDriver</param-name>
	<param-value>oracle.jdbc.OracleDriver</param-value>
</context-param>
<context-param>
	<param-name>OracleURL</param-name>
	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>
<context-param>
	<param-name>OracleId</param-name>
	<param-value>musthave</param-value>
</context-param>
<context-param>
	<param-name>OraclePwd</param-name>
	<param-value>1234</param-value>
</context-param>














